* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

div {
    /*border: 1px black solid;*/
    padding: 20px;
}

.wrapper {
	/*background-color: #014457;*/
	width: 1080px;
	margin: 0 auto;
}

header {
	/*background-color: #000;*/
    /*border: 1px black solid;*/
    padding: 10px;
}

nav {
	background-color: #014457;
	color: #014457;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	/*border: 1px black solid;*/
	padding: 40px;
}

nav a {
	color: #014457;
	background-color: #FFF;
	padding: 20px;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
}

/*section {
	/*background-color: #FFF;
    border-top: 5px #014457 solid;
    padding: 10px;
}*/

#three_column {
    /*background-color: #014457;*/
    border-top: 5px #014457 solid;
}

#left {
	padding: 0px;
	margin-top: 20px;
    float: left;
    /*width: 340px;*/
}

#middle {
    padding: 0px;
    margin-top: 20px;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    /*width: 340px;*/
}

#right {
    padding: 0px;
    margin-top: 20px;
    margin-left: 0px;
    float: left;
    /*width: 340px;*/
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#two_column {
    background-color: #d5fdf3;
    border-top: 5px #009870 solid;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 5px #009870 solid;
}

#dom_left {
    /*background-color: #E582A2;
    border: 1px black solid;*/
    padding: 60px;
    float: left;
    width: 35%;
}

#dom_right {
    /*background-color: #E55B88;
    border: 1px black solid;*/
    padding: 20px;
    float: right;
    width: 60%;
}

#four_column {
    /*background-color: yellow;
    border: 1px black solid;*/
    padding: 0px;
}

article {
	background-color: #fdf1ed;
	border-top: 5px #db5a29 solid;
    padding: 10px;
    margin: 5px;
    float: left;
    width: 24%;

}

body {
	background-color: #FFF;
	font-family: sans-serif;
	font-size: 16px;
	color: #014457;
	margin: 2em, auto;
}

img {
	align-items: center;
}

h1 {
	/*background-color: #aaa;*/
	font-family: serif;
	font-size: 30px;
	font-weight: 800;
	padding: 10px;
	margin: 100px 0 250px 0;
	/*border: 4px solid black;*/
}

h2 {
	/*background-color: #aaa;*/
	color: #014457;
	font-size: 34px;
	margin: 1.5em auto;
	text-align: center;
}

.brandname {
	color: #FFF;
	background-color: #014457;
	padding: 10px;
	font-weight: 800;
	font-size: 20px;
	text-align: center;
	width: 300px;
	margin: 10 350 10 350px;
}

h3 {
	color: #009870;
	font-size: 30px;
}

h4 {
	color: #db5a29;
	font-size: 24px;
	text-transform: uppercase;
}

a {
	color: #db5a29;
	border-bottom: 3px #db5a29 solid;
	padding-bottom: 1px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: right;
	float: right;
}

p {
	color: #014457;
	font-size: 13px;
	line-height: 1.5em;
}

/*.intro {
	background-color: green;
	width: 900px;
	padding: 20px;
	margin: 40px;
	float: right;
}*/

footer {
	background-color: #FF957E;
	border: 1px black solid;
    padding: 20px;
}

/*
COLOURS
Swim Blue: #37aecf;
Bike Orange: #db5a29;
Run Green: #009870;
Pale green: #d5fdf3;
Pale orange: #fdf1ed;
Dark Blue: #014457;
}